extends layout

block content
  h1= title
  p Siente la ira de #{title}

  form(id="login")
    div(id="error")
    p
        | Nombre de usuario: 
        input(type="text", id="username")
    p
        | Contraseña: 
        input(type="text", id="password")
    input(type="submit", value="Enviar")

block header
  script.
      requirejs(["main"]);
